<nav>
    <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="home">
            <a routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="animarte-sport">
            <a routerLink="/animarte-sport">AnimarteSport</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="animarte-party">
            <a routerLink="/animarte-party">AnimarteParty</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="animarte-club">
            <a routerLink="/animarte-club">AnimarteClub</a>
        </li>
    </ul>
</nav>
