<nav>
    <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/animarte-sport">AnimarteSport</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/animarte-party">AnimarteParty</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/animarte-club">AnimarteClub</a>
        </li>
    </ul>
</nav>
