<section class="layout">
    <div class="grow1">
        <h3>REDES SOCIALES</h3>
        <p>
            <a href="https://www.instagram.com/animarte_sport/" target="_blank" class="social-link">
                <i class="pi pi-instagram instagram"></i> animarte_sport
            </a>
        </p>
        <p>
            <a href="https://www.tiktok.com/@animarte_sport?lang=es" target="_blank" class="social-link">
                <i class="pi pi pi-tiktok tiktok"></i> animarte_sport
            </a>
        </p>
    </div>
    <div class="grow1">
        <h3>CONTACTO</h3>
        <p>
            <a href="mailto:animartesport@gmail.com" class="email-link">
                <i class="pi pi-envelope email"></i> animartesport&#64;gmail.com
            </a>
        </p>
        
        <p><i class="pi pi-phone phone"></i> 626 050 462</p>
        <p><i class="pi pi-phone phone"></i> 722 640 416</p>
    </div>
    <div class="grow1">
        <h3>DESARROLLADORES</h3>
        <p>
            <a href="https://www.linkedin.com/in/andrés-jesús-lópez-garcía-595a22208/" target="_blank" class="linkedin-link">
                <i class="pi pi-linkedin linkedin"></i> Andrés López García
            </a>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/fernando-rodríguez-gelo-537905280/" target="_blank" class="linkedin-link">
                <i class="pi pi-linkedin linkedin"></i> Fernando Rodríguez Gelo
            </a>
        </p>
    </div>
</section>
<footer>
    <p><i>Animarte 2025 | Todos los derechos reservados</i></p>
</footer>
